<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("cinema_seats.jpg") %> )" >
  <h1>Create a movie list ...</h1>
  <h3>
    <span data-controller="typed-js"></span>
  </h3>
  <h3>Test</h3>
</div>

<div class="container flex">
  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag list.photo.key, crop: :fill %>
      <div class="card-body">
        <h5 class="card-title"> <%= link_to list.name, list_path(list) %> </h5>
      </div>
    </div>
  <% end %>

  <%= link_to "Create new list", new_list_path %>
</div>
